<app-nav-bar></app-nav-bar>
<div class="row">
  <div class="col-sm-12">
    <span>
      Show me
      <span class="app-search-category"></span>
      with
      <span *ngFor="let group of queryStructure.queryGroups" (groupEvent)="groupEventhandle($event)" [group]="group" class="app-group-terms"></span>
    </span>
  </div>
</div>

<div class="row" style="margin-top: 200px;">
  <div class="col-sm-12">
    <p-organizationChart [value]="treeData">
        <ng-template let-node pTemplate="or">
            <span><span class="badge badge-primary">OR</span> {{node.query||node.label}}</span>
        </ng-template>
        <ng-template let-node pTemplate="and">
            <span><span class="badge badge-info">AND</span> {{node.query||node.label}}</span>
        </ng-template>
        <ng-template let-node pTemplate="default">
            {{node.query||node.label}}
        </ng-template>
    </p-organizationChart>
  </div>
</div>
<!-- <h1 style="font-size: 50px;">Show Me</h1> -->