/* You can add global styles to this file, and also import other style files */
body .ui-multiselect{
    top: 10px!important;
}

body .ui-multiselect label {
    margin-bottom: 0px;
}

.btn.btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .2rem;
  }

  body .ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item.ui-state-highlight {
    color: #000000 !important;
    background-color: #ffffff !important;
}